.spacer{
    flex: 1 1 auto;
}

.search-container input{ 
  margin-right: 200px;
  text-align: left; 
  padding-right: 140px; 
  padding-top: 5px; 
  padding-bottom: 5px; 
  font-size: large;
}
button{
  margin-left: 5%;
  margin-top: 3%;
  font-size: 18px;
  padding: 10px;
}